.appetizers-section {
  position: relative;
  background-color: #50b74833;
  width: 100%;
  padding: 100px 0;
  overflow: hidden;

  .left_img,
  .right_img {
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .left_img {
    left: 0;
  }

  .right_img {
    right: 0;
  }

  .appetizers-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;

    .appetizers-content-left {
      width: 638px;
      height: 750px;
      position: relative;
      z-index: 3;
      margin-right: -20px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .appetizers-content-right {
      padding: 60px 50px;
      width: 543px;
      background-color: #50b7481a;
      border-radius: 18px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      h2,
      p {
        margin: 0;
        padding: 0;
      }

      h2 {
        font-family: Frisbee;
        font-weight: 700;
        font-style: Bold;
        font-size: 55px;
        line-height: 45px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #40a839;
      }

      p {
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #40a839;
      }

      .info {
        .info-heading {
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            color: #002f6c;
          }

          .info-heading-label {
            span {
              font-size: 14px;
            }
          }

          .info-subheading {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }

        .info-heading-text {
          font-size: 14px;
          line-height: 15px;
          text-transform: none;
          padding-top: 5px;
          color: #002f6c;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .appetizers-section {
    padding: 50px 0px;

    .left_img {
      width: 200px;
      height: auto;
    }

    .right_img {
      width: 120px;
      height: auto;
    }
    .appetizers-content {
      padding: 0 50px;
      .appetizers-content-left {
        width: 60%;
        height: 60%;
      }
      .appetizers-content-right {
        padding: 40px 30px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .appetizers-section {
    padding: 60px 0;

    .appetizers-content {
      padding: 0 40px;

      .appetizers-content-left {
        width: 55%;
        height: auto;

        img {
          object-fit: contain;
        }
      }

      .appetizers-content-right {
        width: 50%;
        padding: 40px 30px;

        h2 {
          font-size: 42px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 912px) {
  .appetizers-section {
    .appetizers-content {
      padding: 0 30px;

      .appetizers-content-left {
        width: 50%;
      }

      .appetizers-content-right {
        width: 50%;
        padding: 35px 25px;

        h2 {
          font-size: 36px;
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .appetizers-section {
    .appetizers-content {
      padding: 0px 40px;

      .appetizers-content-right {
        h2 {
          font-size: 40px;
        }

        p {
          font-size: 14px;
        }

        .info {
          .info-heading {
            .info-heading-label {
              span {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .appetizers-section {
    .left_img {
      width: 150px;
      height: auto;
    }
    .right_img {
      width: 100px;
      height: auto;
    }
  }
}

@media (max-width: 600px) {
  .appetizers-section {
    .left_img {
      width: 110px;
    }

    .right_img {
      width: 80px;
    }

    .appetizers-content {
      flex-direction: column;
      padding: 0 20px;
      gap: 25px;

      .appetizers-content-left {
        width: 100%;
        height: auto;
        margin-right: 0;
      }

      .appetizers-content-right {
        width: 100%;
        padding: 20px 15px;

        h2 {
          font-size: 28px;
        }

        p {
          font-size: 14px;
        }

        .info {
          .info-heading-text {
            font-size: 12px;
          }

          .info-heading .info-heading-label span {
            font-size: 11px;
          }
        }
      }
    }
  }
}


@media (max-width: 540px) {
  .appetizers-section {
    padding: 20px 0px;

    .left_img {
      width: 30%;
      height: auto;
      left: -50px;
    }

    .right_img {
      width: 20%;
      height: auto;
    }
    .appetizers-content {
      flex-direction: column;
      gap: 20px;
      padding: 0px 20px;

      .appetizers-content-left {
        width: 100%;
        height: 100%;
        margin-left: 0px;
      }

      .appetizers-content-right {
        margin-top: -80px;
        padding: 10px;
        h2 {
          font-size: 24px;
        }

        p {
          font-size: 14px;
        }

        .info {
          .info-heading-text {
            font-size: 12px;
          }
        }
      }
    }
  }
}
