.blogbanner-section {
  width: 100%;
  background-image: url("../public/images/blogsbanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 600px;
  background-position: center center;

  .blogbanner-content {
    padding: 0px 100px;
    h2 {
      margin: 0;
      padding: 0;
    }
    h2 {
      font-family: Frisbee;
      font-weight: 700;
      font-style: Bold;
      font-size: 55px;
      line-height: 60px;
      letter-spacing: 0%;
      text-align: right;
      color: #fff;
    }
  }
}

@media (max-width: 1024px) {
  .blogbanner-section {
    .blogbanner-content {
      padding: 0 80px;
    }
  }
}

@media (max-width: 820px) {
  .blogbanner-section {
    height: 400px;

    .blogbanner-content {
      padding: 0px 20px;

      h2 {
        font-size: 28px;
        line-height: 40px;
      }
    }
  }
}

@media (max-width: 768px) {
  .blogbanner-section {
    height: 600px;
  }
}

@media (max-width: 480px) {
  .blogbanner-section {
    .blogbanner-content {
      max-width: 300px;
    }
  }
}
