.BowlsSalads-section {
  position: relative;
  background-color: #50b74833;
  width: 100%;
  padding: 100px 0;
  overflow: hidden;

  .left_img,
  .right_img {
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .left_img {
    left: 0;
  }

  .right_img {
    right: 0;
  }

  .BowlsSalads-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;

    .BowlsSalads-content-left {
      padding: 60px 50px;
      width: 600px;
      background-color: #50b7481a;
      border-radius: 18px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      h2,
      p {
        margin: 0;
        padding: 0;
      }

      h2 {
        font-family: Frisbee;
        font-weight: 700;
        font-style: Bold;
        font-size: 55px;
        line-height: 45px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #40a839;
      }

      p {
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #40a839;
      }

      .info {
        .info-heading {
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            color: #002f6c;
          }

          .info-heading-label {
            span {
              font-size: 14px;
            }
          }

          .info-subheading {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }

        .info-heading-text {
          font-size: 14px;
          line-height: 15px;
          text-transform: none;
          padding-top: 5px;
          color: #002f6c;
        }
      }

      .info-unique {
        p {
          color: #002f6c;
          font-size: 14px;
        }
        color: #002f6c;
        font-size: 14px;

        .info-submenu {
          display: flex;
          align-items: center;
          gap: 10px;

          .info-submenu-with-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            img {
              width: 15px;
              height: 15px;
            }
          }

          .info-submenu-with-price {
            span {
              font-family: Maven Pro;
              font-weight: 600;
              font-style: Bold;
            }
          }
        }
      }
    }

    .BowlsSalads-content-right {
      width: 580px;
      height: 742px;
      position: relative;
      margin-left: -30px;
      z-index: 3;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 1280px) {
  .BowlsSalads-section {
    padding: 50px 0px;
    .left_img{
      width: 80px;
      height: auto;
    }
    .right_img{
      width: 300px;
      height: auto;
    }
    .BowlsSalads-content {
      padding: 0 50px;
      .BowlsSalads-content-left {
        padding: 40px 30px;
      }
      .BowlsSalads-content-right {
        width: 60%;
        height: 60%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .BowlsSalads-section {
    padding: 60px 0;

    .BowlsSalads-content {
      padding: 0 40px;

      .BowlsSalads-content-left {
        width: 500px;
        padding: 40px 30px;

        h2 {
          font-size: 42px;
          line-height: 100%;
        }

        p {
          font-size: 16px;
        }
      }

      .BowlsSalads-content-right {
        width: 50%;
        height: auto;

        img {
          object-fit: contain;
        }
      }
    }
  }
}


@media (max-width: 820px) {
  .BowlsSalads-section {
    .BowlsSalads-content {
      padding: 0px 40px;

      .BowlsSalads-content-left {
        h2 {
          font-size: 40px;
        }

        p {
          font-size: 14px;
        }

        .info {
          .info-heading {
            .info-heading-label {
              span {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width:768px) {
  .BowlsSalads-section{
    .left_img{
      width: 60px;
      height: auto;
    }
    .right_img{
      width: 250px;
      height: auto;
    }
  }
}

@media (max-width: 600px) {
  .BowlsSalads-section {

    .left_img {
      width: 100px;
      height: auto;
    }

    .right_img {
      width: 200px;
      height: auto;
    }

    .BowlsSalads-content {
      flex-direction: column-reverse;
      gap: 25px;
      padding: 0 20px;

      .BowlsSalads-content-right {
        width: 100%;
        height: auto;

        img {
          width: 100%;
          height: auto;
        }
      }

      .BowlsSalads-content-left {
        width: 100%;
        padding: 20px;

        h2 {
          font-size: 28px;
        }

        p {
          font-size: 14px;
        }

        .info-heading-text {
          font-size: 12px;
        }

        .info-unique .info-submenu {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .BowlsSalads-section {
    padding: 20px 0px;
    .left_img {
      width: 15%;
      height: 25%;
      top: 100px;
    }

    .right_img {
      width: 50%;
      height: 30%;
      top: -100px;
    }
    .BowlsSalads-content {
      flex-direction: column-reverse;
      gap: 20px;
      padding: 0px 20px;

      .BowlsSalads-content-left {
        margin-top: -50px;
        padding: 10px;
        h2 {
          font-size: 24px;
        }

        p {
          font-size: 14px;
        }

        .info {
          .info-heading-text {
            font-size: 12px;
          }
        }

        .info-unique {
          .info-submenu {
            font-size: 12px;
          }
        }
      }

      .BowlsSalads-content-right {
        width: 100%;
        height: 100%;
        margin-left: 0px;
      }
    }
  }
}
