.buffet-style-section {
  background: #dcf1da;
  width: 100%;
  padding: 0px 150px 60px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .buffet-content-box {
    background: #002f6c0d;
    background-blend-mode: multiply;
    width: 100%;
    padding: 60px 50px;
    border-radius: 18px;
    margin-top: -28px;
    .buffet-text-divider {
      display: flex;
      align-items: center;
      gap: 40px;
      h2 {
        margin: 0;
        font-family: Frisbee;
        font-weight: 700;
        font-style: Bold;
        font-size: 55px;
        line-height: 45px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #40a839;
      }
      .divider {
        background-color: #34982f;
        width: 3px;
        height: 39px;
      }
      .minimum-price {
        h6 {
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: -3%;
          text-transform: uppercase;
          color: #40a839;
          margin: 0;
        }
      }
    }
    .buffet-all-cards {
      display: flex;
      width: 100%;
      gap: 30px;
      margin-top: 50px;
      .buffet-card {
        width: 100%;
        h3 {
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 18px;
          line-height: 35px;
          letter-spacing: 0%;
          text-transform: uppercase;
          color: #339a2d;
          margin: 0;
          margin-bottom: 20px;
        }
        .buffetItem {
          display: flex;
          align-items: center;
          gap: 10px;
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          letter-spacing: 0%;
          text-transform: uppercase;
          color: #002f6c;
          margin-bottom: 14px;
          strong {
            font-family: Brother 1816;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 35px;
            letter-spacing: 0%;
            text-transform: uppercase;
            color: #339a2d;
            margin: 12px 0px;
          }
          .all-icons {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
      }
    }
  }
  button {
    background: #339a2d;
    cursor: pointer;
    border: none;
    width: 350px;
    height: 43px;
    border-radius: 18px;
    font-family: Brother 1816;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 50px;
  }
}

@media (max-width: 1400px) {
  .buffet-style-section {
    padding: 0 120px 50px 120px;

    .buffet-content-box {
      padding: 50px 40px;

      .buffet-text-divider h2 {
        font-size: 48px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .buffet-style-section {
    padding: 0 40px 50px 40px;

    .buffet-content-box {
      padding: 45px 35px;

      .buffet-all-cards {
        gap: 25px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .buffet-style-section {
    padding: 0 20px 50px 20px;

    .buffet-content-box {
      padding: 40px 30px;

      .buffet-text-divider {
        h2 {
          font-size: 40px;
        }
        .minimum-price h6 {
          font-size: 16px;
        }
      }

      .buffet-all-cards {
        gap: 20px;

        .buffet-card {
          h3 {
            font-size: 17px;
          }
          .buffetItem {
            font-size: 13px;

            .all-icons img {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 912px) {
  .buffet-style-section {
    .buffet-content-box {
      padding: 35px 28px;

      .buffet-text-divider {
        h2 {
          font-size: 32px;
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .buffet-style-section {
    .buffet-content-box {
      padding: 30px 25px;

      .buffet-text-divider {
        h2 {
          font-size: 28px;
        }

        .minimum-price h6 {
          font-size: 14px;
        }
      }

      .buffet-all-cards {
        .buffet-card {
          h3 {
            font-size: 15px;
          }

          .buffetItem {
            font-size: 13px;
            gap: 8px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .buffet-style-section {
    padding: 0px 20px 40px 20px;
    .buffet-content-box {
      padding: 20px;
      margin-top: 0px;
      .buffet-text-divider {
        align-items: start;
        flex-direction: column;
        gap: 0px;
        h2 {
          font-size: 24px;
          line-height: 100%;
        }
        .divider {
          display: none;
        }
        .minimum-price {
          h6 {
            font-size: 14px;
            margin-top: 6px;
          }
        }
      }
      .buffet-all-cards {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        .buffet-card {
          h3 {
            font-size: 16px;
            margin-bottom: 10px;
          }
          .buffetItem {
            margin-bottom: 10px;
            padding: 0px;
            strong {
              font-size: 16px;
              margin: 0px;
            }
            .all-icons {
              display: flex;
              align-items: center;
              gap: 10px;
              img {
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }
    }
    button {
      width: 278px;
      height: 40px;
      font-size: 14px;
      margin-top: 30px;
    }
  }
}
