.contact-last-section {
  background-color: #c4e4f7;
  padding-bottom: 50px;

  .contact-last-banner {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(
        90.38deg,
        rgba(0, 0, 0, 0) 44.14%,
        rgba(0, 0, 0, 0.5) 80.64%
      ),
      url("/images/contactbannerlast.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;

    .contact-last-content {
      position: relative;
      z-index: 2;
      text-align: start;
      padding-right: 80px;

      h2,
      p {
        margin: 0;
        padding: 0;
      }

      h2 {
        font-family: Frisbee;
        font-weight: 700;
        font-size: 40px;
        line-height: 42px;
        text-transform: uppercase;
        color: #ffffff;
      }

      p {
        font-family: Brother 1816;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #ffffff;
        padding-bottom: 8px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .contact-last-section {
    .contact-last-banner {
      height: 350px;

      .co .contact-last-content {
        padding-right: 40px;

        h2 {
          font-size: 32px;
          line-height: 36px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .contact-last-section {
    .contact-last-banner {
      justify-content: start;
      .contact-last-content {
        text-align: left;
        padding: 20px;
        max-width: 100%;

        h2 {
          font-size: 28px;
          line-height: 33px;
        }

        p {
          font-size: 18px;
          line-height: 23px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .contact-last-section {
    .contact-last-banner {
      background-position: left;
    }
  }
}
