.background-image-left {
  .left-side-vector-image {
    position: relative;
    img {
      top: 150px;
      position: absolute;
      object-fit: cover;
      width: auto;
      left: 0px;
    }
  }
  .corporate-catering-section {
    width: 100%;
    background: #d8eff0;
    padding: 80px 150px 0px 150px;
    .text-divider {
      display: flex;
      align-items: center;
      gap: 40px;
      h2,
      h6 {
        margin: 0;
      }
      h2 {
        font-family: Frisbee;
        font-weight: 700;
        font-style: Bold;
        font-size: 55px;
        line-height: 45px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #002f6c;
      }
      h6 {
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: -3%;
        text-transform: uppercase;
        color: #002f6c;
      }
      .divider {
        width: 3px;
        height: 39px;
        background-color: #002f6c;
      }
    }
    p {
      font-family: Brother 1816;
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      margin: 0;
      line-height: 15px;
      letter-spacing: 0%;
      color: #002f6c;
      margin-top: 15px;
    }
    .all-corporate-cards {
      display: flex;
      gap: 50px;
      margin-top: 50px;
      .corporate-card {
        background: #002f6c0d;
        width: 100%;
        height: 198px;
        border-radius: 18px;
        padding: 50px;
        cursor: pointer;
        h6 {
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 18px;
          line-height: 20px;
          letter-spacing: 0%;
          text-transform: uppercase;
          color: #002f6c;
          margin: 0;
          margin-bottom: 10px;
        }
        li {
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0%;
          color: #002f6c;
          margin-left: 25px;
        }
      }
    }
  }
  .afghan-image-section {
    width: 100%;
    background: #d8eff0;
    padding: 0px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    .afghan-bowl-image {
      width: 100%;
      height: 740px;
      overflow: hidden;
      z-index: 1000;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.afghan-content-section {
  width: 100%;
  background: #d8eff0;
  padding: 0px 150px;
  .afghan-details {
    width: 100%;
    background: #002f6c0d;
    background-blend-mode: multiply;
    border-radius: 18px;
    padding: 60px 50px;
    .afghan-text-divider {
      display: flex;
      align-items: center;
      gap: 40px;
      h2 {
        margin: 0;
        font-family: Frisbee;
        font-weight: 700;
        font-style: Bold;
        font-size: 55px;
        line-height: 45px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #002f6c;
      }
      .divider {
        background-color: #002f6c;
        width: 3px;
        height: 39px;
      }
      .minimum-price {
        h6 {
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: -3%;
          text-transform: uppercase;
          color: #002f6c;
          margin: 0;
        }
      }
    }
    p {
      font-family: Brother 1816;
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 15px;
      letter-spacing: 0%;
      color: #002f6c;
    }
    .bowls-section {
      display: flex;
      width: 100%;
      gap: 30px;
      margin-top: 35px;
      .bowl-card {
        width: 100%;
        h4,
        p {
          margin: 0;
        }
        h4 {
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 18px;
          line-height: 35px;
          letter-spacing: 0%;
          text-transform: uppercase;
          color: #002f6c;
        }
        p {
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0%;
          color: #002f6c;
          margin-bottom: 30px;
        }
        li {
          display: flex;
          align-items: center;
          gap: 10px;
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          letter-spacing: 0%;
          text-transform: uppercase;
          color: #002f6c;
          margin-bottom: 14px;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .background-image-left {
    .corporate-catering-section {
      padding: 70px 100px 0 100px;
    }
  }
  .afghan-content-section {
    padding: 0 120px;
  }
}

@media (max-width: 1280px) {
  .background-image-left {
    .corporate-catering-section {
      padding: 60px 40px 0 40px;
      .all-corporate-cards {
        gap: 30px !important;
      }
    }
    .afghan-image-section {
      padding: 0px 40px;
      .afghan-bowl-image {
        height: auto;
      }
    }
  }

  .afghan-content-section {
    padding: 0 40px;
  }
}

@media (max-width: 1024px) {
  .background-image-left {
    .left-side-vector-image {
      img {
        top: 280px;
        width: 150px;
        height: auto;
      }
    }
    .corporate-catering-section {
      padding: 50px 20px 0 20px;
      .text-divider {
        gap: 30px;
        h2 {
          font-size: 38px;
        }
      }
      .all-corporate-cards {
        gap: 30px;
        margin-top: 40px;
        .corporate-card {
          padding: 35px;
          height: auto;
        }
      }
    }

    .afghan-image-section {
      padding: 0 20px;
    }
  }

  .afghan-content-section {
    padding: 0 20px;

    .afghan-details {
      padding: 40px 30px;
    }
  }
}

@media (max-width: 912px) {
  .background-image-left {
    .corporate-catering-section {
      .all-corporate-cards {
        .corporate-card {
          padding: 30px;
        }
      }
    }
  }

  .afghan-content-section {
    padding: 0 20px;
    .afghan-details {
      padding: 40px 20px;
      .afghan-text-divider {
        gap: 20px;
        h2 {
          font-size: 36px;
        }
        .minimum-price {
          h6 {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .background-image-left {
    .left-side-vector-image {
      img {
        top: 50px;
        width: 100px;
        height: auto;
      }
    }
    .corporate-catering-section {
      padding: 40px 20px 0px 20px;
      .text-divider {
        flex-direction: column;
        justify-content: center;
        gap: 0px;
        h2 {
          font-size: 24px;
          line-height: 100%;
        }
        h6 {
          font-size: 14px;
          margin-top: 6px;
        }
        .divider {
          display: none;
        }
      }
      p {
        margin-top: 15px;
        text-align: center;
      }
      .all-corporate-cards {
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
        .corporate-card {
          height: auto;
          padding: 25px;
          h6 {
            font-size: 16px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .afghan-image-section {
      padding: 0px;
      .afghan-bowl-image {
        width: 100%;
        height: auto;
      }
    }
  }

  .afghan-content-section {
    padding: 0px 20px;
    .afghan-details {
      padding: 16px 10px;
      .afghan-text-divider {
        flex-direction: column;
        align-items: start;
        gap: 0px;
        h2 {
          font-size: 22px;
          line-height: 100%;
        }
        .divider {
          display: none;
        }
        .minimum-price {
          margin-top: 10px;
          h6 {
            font-size: 16px;
          }
        }
      }
      .bowls-section {
        flex-direction: column;
        gap: 10px;
        margin-top: 12px;
        .bowl-card {
          h4 {
            font-size: 16px;
            line-height: 35px;
          }
          p {
            margin-bottom: 10px;
          }
          li {
            gap: 10px;
            margin-bottom: 10px;
            svg {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }
}
