.dipz-mezze-section {
  position: relative;
  background-color: #d8eff0;
  width: 100%;
  padding: 100px 0px;
  overflow: hidden;

  .left_img,
  .right_img {
    position: absolute;
    top: 0;
    height: 90%;
    width: auto;
    object-fit: cover;
  }

  .left_img {
    left: 0;
  }

  .right_img {
    right: 0;
  }

  .dipz-mezze-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;

    .dipz-mezze-content-left {
      padding: 60px 50px;
      width: 543px;
      background-color: #002f6c0d;
      border-radius: 18px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      h2,
      p {
        margin: 0;
        padding: 0;
      }

      h2 {
        font-family: Frisbee;
        font-weight: 700;
        font-style: Bold;
        font-size: 55px;
        line-height: 45px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #002f6c;
      }

      p {
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #002f6c;
      }

      .info {
        .info-heading {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .info-heading-text {
          font-size: 14px;
          line-height: 15px;
          text-transform: none;
          padding-top: 5px;
        }
      }

      .something-to-share {
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 15%;
        padding: 10px 20px;
        border: none;
        border-radius: 25px;
        background-color: #002f6c;
        width: fit-content;
        text-transform: uppercase;
        color: #fff;
      }
    }

    .dipz-mezze-content-right {
      width: 627px;
      height: 568px;
      margin-left: -20px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 1280px) {
  .dipz-mezze-section {
    padding: 50px 0px;
    .left_img,
    .right_img {
      height: 80%;
    }

    .dipz-mezze-content {
      padding: 0px 50px;
      .dipz-mezze-content-left {
        padding: 40px 30px;
      }

      .dipz-mezze-content-right {
        width: 60%;
        height: 60%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .dipz-mezze-section {
    padding: 60px 0;

    .left_img,
    .right_img {
      height: 70%;
    }

    .dipz-mezze-content {
      padding: 0 40px;

      .dipz-mezze-content-left {
        padding: 40px 25px;
        width: 480px;

        h2 {
          font-size: 45px;
        }

        p {
          font-size: 16px;
        }
      }

      .dipz-mezze-content-right {
        width: 55%;
        height: auto;
      }
    }
  }
}

@media (max-width: 912px) {
  .dipz-mezze-section {
    .dipz-mezze-content {
      padding: 0 30px;

      .dipz-mezze-content-left {
        width: 440px;

        h2 {
          font-size: 38px;
        }

        p {
          font-size: 15px;
        }
      }

      .dipz-mezze-content-right {
        width: 50%;
      }
    }
  }
}

@media (max-width: 820px) {
  .dipz-mezze-section {
    .dipz-mezze-content {
      padding: 0px 40px;
      .dipz-mezze-content-left {
        h2 {
          font-size: 40px;
        }

        p {
          font-size: 14px;
        }

        .something-to-share {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .dipz-mezze-section{
    .left_img,.right_img{
      height: 50%;
    }

  }
}

@media (max-width: 600px) {
  .dipz-mezze-section {

    .left_img,
    .right_img {
      height: 35%;
    }

    .dipz-mezze-content {
      flex-direction: column;
      padding: 0 20px;

      .dipz-mezze-content-left {
        width: 100%;
        padding: 40px 20px;

        h2 {
          font-size: 26px;
        }

        p {
          font-size: 14px;
        }
      }

      .dipz-mezze-content-right {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        height: auto;

        img {
          height: auto;
          object-fit: contain;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .dipz-mezze-section {
    padding: 20px 0px;

    .left_img,
    .right_img {
      height: 40%;
    }

    .left_img {
      top: -10;
      left: -10;
    }

    .right_img {
      margin-top: 500px;
      right: -60;
    }
    .dipz-mezze-content {
      flex-direction: column;
      padding: 0px 20px;
      .dipz-mezze-content-left {
        padding: 50px 20px;
        h2 {
          font-size: 24px;
        }

        p {
          font-size: 14px;
        }

        .info {
          .info-heading-text {
            font-size: 12px;
          }
        }

        .something-to-share {
          font-size: 14px;
        }
      }

      .dipz-mezze-content-right {
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-top: -30px;
      }
    }
  }
}
