.feedbackFormContainer {
  width: 100%;
  background-image: url("../public/images/feedbackbgimage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 150px 80px 150px;
  text-align: center;
  .feedback-form-content {
    width: 100%;
    box-shadow: 6px 6px 12px 0px #05a6ab4d;
    background: #fcfcfc;
    border-radius: 20px;
    padding: 60px 80px;
    margin-top: -60px;
    position: relative;
    z-index: 10;
    h2 {
      font-family: Frisbee;
      font-weight: 700;
      font-style: Bold;
      font-size: 32px;
      margin: 0;
      line-height: 45px;
      letter-spacing: 0%;
      text-transform: uppercase;
      color: #002f6c;
    }
    p {
      font-family: Brother 1816;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0%;
      text-transform: uppercase;
      margin: 0;
      color: #002f6c;
    }
    .feedbackForm {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      .row {
        display: flex;
        gap: 40px;
        width: 100%;
        justify-content: center;

        @media (max-width: 768px) {
          flex-direction: column;
        }
      }
      .inputGroup,
      .inputGroupFull {
        display: flex;
        flex-direction: column;
        width: 100%;
        input,
        textarea {
          width: 100%;
          padding: 15px 25px;
          border: none;
          background: #e6e6e6b2;
          border-radius: 20px;
          outline: none;
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 18px;
          line-height: 20px;
          letter-spacing: 0%;
          text-transform: uppercase;
          color: #2c2c2cb2;
          &::placeholder {
            font-family: Brother 1816;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 20px;
            letter-spacing: 0%;
            text-transform: uppercase;
            color: #2c2c2cb2;
          }
        }
        .textarea::placeholder {
          font-family: "Brother 1816" !important;
          font-size: 18px !important;
          text-transform: uppercase;
          color: #2c2c2cb2 !important;
        }
      }
      .error {
        color: red;
        font-size: 13px;
        margin-top: 5px;
        text-align: left;
        margin-left: 10px;
      }
      .submitButton {
        border: none;
        cursor: pointer;
        width: 200px;
        height: 40px;
        border-radius: 18px;
        background: #002f6c;
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }
}
@media (max-width: 1024px) {
  .feedbackFormContainer {
    padding: 0px 40px 80px 40px;
    .feedback-form-content {
      padding: 60px 40px;
      .feedbackForm {
        gap: 20px;
        .row {
          gap: 20px;
        }
      }
    }
  }
}
@media (max-width: 912px) {
  .feedbackFormContainer {
    padding: 0px 20px 60px 20px;
    .feedback-form-content {
      padding: 40px 20px;
    }
  }
}
@media (max-width: 768px) {
  .feedbackFormContainer {
    background-image: url("../public/images/feedbackbgmobile.png");
    padding: 0px 20px 80px 20px;
    .feedback-form-content {
      border-radius: 15px;
      padding: 40px 15px;
      margin-top: -120px;
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 14px;
      }
      .feedbackForm {
        margin-top: 30px;
        gap: 18px;
        .row {
          gap: 18px;
        }
        .inputGroup,
        .inputGroupFull {
          input,
          textarea {
            padding: 15px 20px;
            border-radius: 18px;
            font-size: 14px;
            &::placeholder {
              font-size: 14px;
            }
          }
          .textarea::placeholder {
            font-size: 14px !important;
          }
        }
        .error {
          font-size: 12px;
        }
      }
    }
  }
}
