.handhelds-section {
  position: relative;
  background-color: #fbe5ef;
  width: 100%;
  padding: 100px 0;
  overflow: hidden;

  .pattern-left,
  .pattern-right {
    position: absolute;
    z-index: 1;
    height: auto;
  }

  .pattern-left {
    top: 150px;
    left: -350px;
  }

  .pattern-right {
    right: -320px;
    bottom: 100px;
  }

  .handhelds-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;

    .handhelds-content-left {
      width: 624px;
      height: 597px;
      z-index: 3;
      position: relative;
      margin-right: -50px;

      .dish-image {
        width: 100%;
        height: 100%;
        transform: scaleX(-1);
      }
    }

    .handhelds-content-right {
      background-color: #a23f971a;
      padding: 60px 50px;
      width: 566px;
      border-radius: 18px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      h2,
      p {
        margin: 0;
        padding: 0;
      }

      .handhelds-heading {
        h2 {
          font-family: Frisbee;
          font-weight: 700;
          font-style: Bold;
          font-size: 55px;
          line-height: 45px;
          letter-spacing: 0%;
          text-transform: uppercase;
          color: #7a1f77;
        }

        p {
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0%;
          text-transform: uppercase;
          color: #7a1f77;
        }
      }

      .info {
        .info-heading {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .info-heading-label {
            margin: 0;
            font-family: Brother 1816;
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            text-transform: uppercase;
            color: #2a1053;
          }
        }

        .combo-pill {
          margin-top: 5px;
          display: inline-flex;
          font-family: Brother 1816;
          font-style: Regular;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0%;
          text-transform: uppercase;
          background-color: #9a3488;
          color: #fff;
          padding: 10px 20px;
          border-radius: 999;
        }

        .info-heading-text {
          margin: 10px 0 0 0;
          font-family: "Brother 1816", sans-serif;
          font-size: 14px;
          line-height: 20px;
          color: #002f6c;
          text-transform: none;
        }

        .choose-protein {
          margin: 14px 0 6px 0;
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 15px;
          letter-spacing: 0%;
          text-transform: uppercase;
          color: #9a3488;
        }

        .choose-protein-info {
          display: inline-flex;
          gap: 10px;
          font-size: 14px;
          line-height: 18px;
          color: #002f6c;
        }

        .combo-note {
          margin-top: 20px;
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 15px;
          letter-spacing: 0%;
          color: #9a3488;
        }

        .list {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 10px;
          margin-left: -20px;
          li {
            font-family: Maven Pro;
            font-weight: 400;
            font-style: Regular;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0%;
            color: #002f6c;

            &::marker {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .handhelds-section {
    padding: 50px 0px;
    .pattern-left,
    .pattern-right {
      width: 50%;
      height: auto;
    }

    .pattern-right {
      bottom: 0;
      right: -350px;
    }

    .handhelds-content {
      padding: 0 50px;

      .handhelds-content-left {
        width: 60%;
        height: 60%;
      }
      .handhelds-content-right {
        padding: 40px 30px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .handhelds-section {
    .handhelds-content {
      padding: 0 40px;

      .handhelds-content-left {
        width: 55%;
        height: auto;

        .dish-image {
          object-fit: contain;
        }
      }

      .handhelds-content-right {
        width: 50%;
        padding: 35px 25px;

        .handhelds-heading {
          h2 {
            font-size: 38px;
          }
        }
      }
    }
  }
}

@media (max-width: 912px) {
  .handhelds-section {
    .pattern-left {
      width: 45%;
      left: -200px;
      top: 150px;
    }

    .pattern-right {
      width: 45%;
      right: -200px;
    }

    .handhelds-content {
      padding: 0 30px;

      .handhelds-content-left {
        width: 50%;
        margin-right: -20px;
      }

      .handhelds-content-right {
        width: 55%;
      }
    }
  }
}

@media (max-width: 820px) {
  .handhelds-section {
    .pattern-left {
      width: 50%;
      height: auto;
      left: -150;
      top: 200;
    }

    .pattern-right {
      width: 50%;
      height: auto;
      right: -250px;
      bottom: 0;
    }
    .handhelds-content {
      padding: 0px 40px;

      .handhelds-content-left {
        margin-right: 0;
      }

      .handhelds-content-right {
        .handhelds-heading {
          h2 {
            font-size: 40px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .handhelds-section {
    .pattern-left {
      width: 50%;
      top: 120px;
      left: -120px;
    }

    .pattern-right {
      width: 50%;
      bottom: 20px;
      right: -120px;
    }

    .handhelds-content {
      flex-direction: column;
      gap: 30px;
      padding: 0 20px;

      .handhelds-content-left {
        width: 90%;
        height: auto;
        margin-right: 0;

        .dish-image {
          width: 100%;
          height: auto;
        }
      }

      .handhelds-content-right {
        width: 100%;
        padding: 20px;

        .handhelds-heading h2 {
          font-size: 28px;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .handhelds-section {
    padding: 20px 0px;

    .handhelds-content {
      flex-direction: column;
      gap: 20px;
      padding: 0px 20px;

      .handhelds-content-left {
        width: 100%;
        height: 100%;
      }

      .handhelds-content-right {
        padding: 10px;
        .handhelds-heading {
          h2 {
            font-size: 24px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
