.header-section-container {
  width: 100%;
  position: fixed;
  height: 85px;
  padding: 0px 150px;
  display: flex;
  align-items: center;
  top: 0px;
  background: #000;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(10, 7, 7, 1) 11%, rgba(255, 0, 0, 0) 100%);
  z-index: 3000;
  .header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-logo-div {
      .header-logo-image {
        width: 191px;
        height: 40px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .header-nav-links {
      display: flex;
      gap: 60px;
      a {
        text-decoration: none;
        cursor: pointer;
        h6 {
          font-family: Maven Pro;
          font-weight: 600;
          font-style: SemiBold;
          font-size: 14px;
          line-height: 15px;
          letter-spacing: 0%;
          margin: 0px;
          color: #ffffff;
          text-transform: uppercase;
        }
      }
    }
    .button-menu-icon {
      display: flex;
      align-items: center;
      gap: 30px;
      button {
        width: 141px;
        height: 40px;
        border-radius: 18px;
        background: #002f6c;
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #ffffff;
        cursor: pointer;
        border: none;
      }
      .menu-icon{
        cursor: pointer;
      }
    }
  }
}
.header-section-container:hover{
    background: #000000CC;
}
.scrolled {
  background: #000000cc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
@media (max-width:1280px) {
.header-section-container {
  padding: 0px 40px;
}
}
@media (max-width:1024px) {
.header-section-container {
  height: 80px;
  padding: 0px 20px;
  .header-content {
    .header-logo-div {
      .header-logo-image {
        width: 120px;
        height: 25px;
      }
    }
    .header-nav-links {
      display: none;
    }
    .button-menu-icon {
      button {
        display: none;
      }
    }
  }
}
}