.hotel-location-banner-section {
  width: 100%;
  .hotel-banner-image {
    width: 100%;
    height: 618px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.hotel-details-and-map-section {
  width: 100%;
  padding: 70px 150px 50px 150px;
  .hotel-detail-left-right-part {
    display: flex;
    gap: 50px;
    width: 100%;
    .hotel-detail-left-part {
      width: 100%;
      h6,
      h2 {
        margin: 0;
        color: #002f6c;
      }
      h6 {
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: 0%;
        text-transform: uppercase;
      }
      h2 {
        font-family: Frisbee;
        font-weight: 700;
        font-style: Bold;
        font-size: 55px;
        line-height: 45px;
        letter-spacing: 0%;
        text-transform: uppercase;
        margin-top: 10px;
      }
      .hotel-location-number {
        margin: 20px 0px;
        .hotel-location {
          display: flex;
          align-items: center;
          gap: 25px;
          cursor: pointer;
          margin-top: 8px;
          h4 {
            font-family: Brother 1816;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            letter-spacing: 0%;
            text-transform: uppercase;
            color: #002f6c;
            margin: 0;
          }
        }
      }
      .features-lists {
        background: #002f6c0d;
        width: 100%;
        height: auto;
        border-radius: 18px;
        padding: 25px;
        h5 {
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0%;
          text-transform: uppercase;
          color: #002f6c;
          margin: 0;
        }
        li {
          margin-left: 25px;
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0%;
          text-transform: uppercase;
          color: #002f6c;
          margin-top: 10px;
        }
      }
      .order-book-button {
        display: flex;
        gap: 25px;
        margin-top: 30px;
        button {
          height: 43px;
          padding: 0px 25px;
          cursor: pointer;
          border: none;
          border-radius: 18px;
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 18px;
          letter-spacing: 0%;
          text-transform: uppercase;
        }
        .order-btn {
          background: #002f6c;
          color: #ffffff;
        }
        .book-btn {
          border: 2px solid #002f6c;
          background-color: transparent;
          color: #002f6c;
        }
      }
    }
    .hotel-detail-right-part {
      width: 100%;
      .left-content {
        background: #002f6c0d;
        padding: 40px;
        border-radius: 18px;
        h5 {
          margin: 0;
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 25px;
          line-height: 25px;
          letter-spacing: 0%;
          text-transform: uppercase;
          color: #002f6c;
          margin-bottom: 30px;
        }
        .time-day {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
          h6 {
            margin: 0;
            font-family: Brother 1816;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0%;
            text-transform: uppercase;
            color: #002f6c;
          }
        }
      }
    }
  }
  .hotel-map-image {
    width: 100%;
    height: 301px;
    border-radius: 16px;
    overflow: hidden;
    margin-top: 40px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
  }
}
@media (max-width:1280px) {
.hotel-details-and-map-section {
  padding:  40px 50px ;
  .hotel-detail-left-right-part {
    gap: 30px;
  }
}
}
@media (max-width:1024px) {
.hotel-location-banner-section {
  .hotel-banner-image {
    height: 600px;
  }
}
.hotel-details-and-map-section {
  padding:  40px 20px ;
  .hotel-detail-left-right-part {
    gap: 20px;
    .hotel-detail-left-part {
      h6 {
        font-size: 20px;
      }
      h2 {
        font-size: 38px;
        margin-top: 6px;
      }
      .hotel-location-number {
        margin: 10px 0px;
        .hotel-location {
          gap: 10px;
          h4 {
            font-size: 16px;
          }
        }
      }
      .features-lists {
        h5 {
          font-size: 16px;
        }
      }
      .order-book-button {
        gap: 15px;
        margin-top: 20px;
        button {
          padding: 0px 20px;
          font-size: 16px;
        }
      }
    }
    .hotel-detail-right-part {
      .left-content {
        padding: 20px;
        h5 {
          font-size: 20px;
          margin-bottom: 20px;
        }
        .time-day {
          h6 {
            font-size: 16px;
          }
        }
      }
    }
  }
}
}
@media (max-width:768px) {
.hotel-location-banner-section {
  .hotel-banner-image {
    height: 600px;
  }
}
.hotel-details-and-map-section {
  padding: 40px 20px;
  .hotel-detail-left-right-part {
    flex-direction: column;
    gap: 30px;
    .hotel-detail-left-part {
      h6 {
        font-size: 16px;
      }
      h2 {
        font-size: 30px;
        margin-top: 0px;
      }
      .hotel-location-number {
        margin: 15px 0px;
        .hotel-location {
          gap: 15px;
          margin-top: 10px;
          h4 {
            font-size: 16px;
          }
        }
      }
      .order-book-button {
        gap: 15px;
        button {
          height: 40px;
          padding: 0px 18px;
          border-radius: 18px;
          font-size: 14px;
          white-space: nowrap;
        }
      }
    }
    .hotel-detail-right-part {
      .left-content {
        padding: 16px;
        h5 {
          font-size: 22px;
          margin-bottom: 20px;
        }
        .time-day {
          margin-top: 16px;
          h6 {
            font-size: 16px;
          }
        }
      }
    }
  }
  .hotel-map-image {
    height: 150px;
    border-radius: 10px;
    img{
        border-radius: 10px;
    }
  }
}
}