.individual-blog-section {
  padding: 100px;
  background: linear-gradient(180deg, #fbe5ef 0%, #d8eff0 100%);
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 80px;

  .left-content {
    width: 65%;
  }

  .right-content {
    width: 35%;
  }
}

@media (max-width: 1280px) {
  .individual-blog-section {
    padding: 100px 50px;
    gap: 50px;
  }
}

@media (max-width: 820px) {
  .individual-blog-section {
    padding: 100px 20px;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .individual-blog-section {
    padding: 100px 20px;
    flex-direction: column;

    .left-content,
    .right-content {
      width: 100%;
    }
  }
}
