.leftcontent-section {
  width: 100%;

  h2,
  h3,
  p {
    padding: 0;
    margin: 0;
  }

  h2 {
    font-family: Frisbee;
    font-weight: 700;
    font-style: bold;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0%;
    color: #002f6c;

    span {
      color: #1f6db0;
    }
  }

  .leftcontent-image {
    padding: 40px 0px;
    width: 800px;
    height: 465px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h3 {
    font-family: "Brother 1816";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    color: #2c2c2c;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  p {
    font-family: "Brother 1816";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    color: #2c2c2cb2;
    margin-bottom: 16px;
  }

  ul {
    margin: 0;
    padding: 0 0 20px 20px;

    li {
      list-style-type: disc;
      font-family: "Brother 1816";
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 140%;
      color: #2c2c2c;

      &::marker {
        font-size: 8px;
      }
    }
  }

  .leftcontent-button {
    margin-top: 50px;
    text-align: left;

    button {
      background-color: #002f6c;
      color: #fff;
      border: none;
      padding: 14px 100px;
      border-radius: 999px;
      font-family: "Brother 1816";
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      cursor: pointer;
    }
  }
}

@media (max-width: 1200px) {
  .leftcontent-section {
    .leftcontent-image {
      width: 100%;
      height: auto;
    }

    h2 {
      font-size: 36px;
      line-height: 50px;
    }
  }
}

@media (max-width: 992px) {
  .leftcontent-section {
    padding-right: 0;

    h2 {
      font-size: 32px;
      line-height: 45px;
    }

    .leftcontent-image {
      width: 100%;
      height: auto;
    }

    p {
      font-size: 15px;
    }

    .leftcontent-button button {
      padding: 12px 60px;
      font-size: 13px;
    }
  }
}

@media (max-width: 768px) {
  .leftcontent-section {
    h2 {
      font-size: 26px;
      line-height: 38px;
    }

    h3 {
      font-size: 18px;
    }

    p,
    li {
      font-size: 14px;
    }

    .leftcontent-image {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 480px) {
  .leftcontent-section {

    .leftcontent-image{
      padding: 10px 0px;

    }
    h2 {
      font-size: 22px;
      line-height: 32px;
    }

    p {
      font-size: 13px;
      line-height: 150%;
    }

    ul li {
      font-size: 13px;
    }
  }
}
