.menu-cards {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;

  .menu-card {
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    width: 360px;
    height: 466px;
    cursor: pointer;

    .image-wrapper {
      position: relative;
      width: 100%;
      height: 100%;

      .menu-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 18px;
      }

      .card-title {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        font-family: Frisbee;
        font-weight: 700;
        font-style: Bold;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        z-index: 2;
        width: 80%;
        text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
        transition: all 0.4s ease;
      }

      .overlay {
        position: absolute;
        bottom: -65%;
        left: 0;
        width: 100%;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 37.4%,
          rgba(0, 0, 0, 0.8) 100%
        );
        background-blend-mode: multiply;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 25px 30px;
        border-radius: 15px;
        transition: bottom 0.4s ease;
        z-index: 1;

        p {
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 15px;
          color: #fff;
          text-shadow: 0px 4px 12.2px 0px #000000cf;
          padding-bottom: 10px;
        }

        button {
          background-color: #fff;
          border: none;
          color: #00aca7;
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 18px;
          line-height: 20px;
          border-radius: 18px;
          padding: 15px 25px;
          transition: all 0.3s ease;
          cursor: pointer;

          &:hover {
            background-color: #ffffffd7;
          }
        }
      }

      // Hover / active state
      &:hover .overlay,
      &.active .overlay {
        bottom: 0;
      }

      &:hover .card-title,
      &.active .card-title {
        bottom: 100px; // move up smoothly to make room for description
      }
    }
  }
}

@media (max-width: 1280px) {
  .menu-cards {
    justify-content: center;
    gap: 50px;

    .menu-card {
      width: 340px;
      height: 460px;

      .image-wrapper {
        .card-title {
          font-size: 36px;
          line-height: 38px;
        }

        .overlay {
          padding: 35px 25px;

          p {
            font-size: 13px;
            line-height: 16px;
          }

          button {
            font-size: 17px;
            padding: 14px 24px;
          }
        }

        &:hover .card-title,
        &.active .card-title {
          bottom: 110px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .menu-cards {
    justify-content: center;
    gap: 40px;

    .menu-card {
      width: 320px;
      height: 440px;

      .image-wrapper {
        .card-title {
          font-size: 32px;
          line-height: 36px;
        }

        &:hover .card-title,
        &.active .card-title {
          bottom: 120px; // move up smoothly to make room for description
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .menu-cards {
    justify-content: center;
    gap: 20px;
    padding-top: 40px;

    .menu-card {
      width: 300px;
      height: 420px;

      .image-wrapper {
        .card-title {
          font-size: 28px;
          line-height: 100%;
        }

        .overlay {
          padding: 20px 20px;

          p {
            font-size: 12px;
            line-height: 16px;
          }

          button {
            font-size: 16px;
            padding: 12px 22px;
          }
        }

        &:hover .card-title,
        &.active .card-title {
          bottom: 130px; // move up smoothly to make room for description
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .menu-cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 30px;

    .menu-card {
      .image-wrapper {
        .card-title {
          font-size: 28px;
          line-height: 30px;
          bottom: 10px;
        }

        .overlay {
          bottom: -70%;
          padding: 25px 20px;

          p {
            font-size: 13px;
            line-height: 16px;
          }

          button {
            font-size: 16px;
            padding: 10px 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .menu-cards {
    padding-top: 20px;
    gap: 20px;

    .menu-card {
      width: 270px;
      height: 370px;

      .image-wrapper {
        .card-title {
          font-size: 24px;
          line-height: 28px;
          bottom: 15px;
          width: 90%;
        }

        .overlay {
          bottom: -75%;
          p {
            font-size: 12px;
            line-height: 15px;
            padding-bottom: 8px;
          }

          button {
            font-size: 15px;
            padding: 10px 18px;
            border-radius: 15px;
          }
        }
      }
    }
  }
}
