.our-location-banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .our-location-image {
    width: 100%;
    height: 618px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  button {
    width: 396px;
    height: 89px;
    background: #002f6c;
    font-family: Frisbee;
    font-weight: 700;
    font-style: Bold;
    font-size: 55px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-top: -35px;
  }
}
@media (max-width:1024px) {
.our-location-banner {
  .our-location-image {
    height: 600px;
  }
    button {
    width: 356px;
    height: 79px;
    font-size: 45px;
  }
}
}
@media (max-width:768px) {
.our-location-banner {
  .our-location-image {
    height: 600px;
  }
  button {
    width: 271px;
    height: 71px;
    font-size: 30px;
    margin-top: -35px;
  }
}
}