.our-promise-section {
  width: 100%;
  background: #fbe5ef;
  padding: 80px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .our-promise-left-right-part {
    display: flex;
    gap: 80px;
    width: 100%;
    .our-promise-left-part,
    .our-promise-right-part {
      width: 100%;
      h2 {
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #922B7B;
      }
      li,
      p {
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0%;
        color: #2c2c2c;
        margin-left: 25px;
      }
      .our-promise-image {
        width: 100%;
        height: 410px;
        border-radius: 18px;
        overflow: hidden;
        margin-top: 40px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .our-promise-right-part {
      p {
        margin-left: 0px;
        width: 95%;
      }

      .our-promise-image {
        margin-top: 0px;
      }
    }
  }
}
@media (max-width:1380px) {
.our-promise-section{
  padding: 80px 40px;
} 
}
@media (max-width:1024px) {
.our-promise-section {
  padding: 60px 40px;
  .our-promise-left-right-part{
    gap: 40px;
    .our-promise-left-part,
    .our-promise-right-part {
      h2 {
        font-size: 26px;
      }
      .our-promise-image {
        height: 310px;
      }
    }
    .our-promise-right-part{
        p{
          margin-left: 0px;
          width: 100%;
        }
         .our-promise-image {
            margin-top: 0px;
         }
    }
  }
} 
}
@media (max-width: 768px) {
  .our-promise-section {
    padding: 20px;

    .our-promise-left-right-part {
      gap: 30px;
      flex-direction: column;

      .our-promise-left-part,
      .our-promise-right-part {
        h2 {
          font-size: 22px;
        }

        .our-promise-image {
          width: 358px;
          height: 276px;
          margin-top: 20px;
        }
      }

      .our-promise-right-part {
        p {
          width: 100%;
        }

        .our-promise-image {
          margin-top: 0px;
        }
      }
    }
  }
}
