.our-values-section {
  width: 100%;
  background-image: url("../public/images/ourvaluesbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 150px;
  h2 {
    font-family: Frisbee;
    font-weight: 700;
    font-style: Bold;
    font-size: 55px;
    line-height: 84px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #f16f26;
    margin: 0;
  }
  .our-values-all-cards {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    place-items: center;
    justify-self: center;
    gap: 50px;
    margin-top: 30px;
    .our-values-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 340px;
      height: 450px;
      padding: 40px;
      border-radius: 18px;
      background-color: var(--card-bg);
      cursor: pointer;
      h3,
      p {
        margin: 0;
      }
      h3 {
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 30px;
        line-height: 45px;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        margin-top: 35px;
        color: var(--text-color);
      }
      p {
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0%;
        text-align: center;
        color: #2c2c2c;
        margin-top: 20px;
      }
      transition: background-color 0.4s ease, transform 0.3s ease;
      &:hover {
        background-color: var(--hover-bg);
        .svg-icon {
          svg path {
            fill: #ffffff;
          }
        }
        h3,
        p {
          color: #ffffff;
        }
      }
    }
  }
}
@media (max-width:1280px) {
.our-values-section {
  padding: 60px 40px;
  .our-values-all-cards {
    gap: 30px;
  }
}
}
@media (max-width:1024px) {
.our-values-section {
  padding: 60px 40px;
  .our-values-all-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}
}
@media (max-width: 768px) {
  .our-values-section {
    padding:  20px;
    h2 {
      font-size: 24px;
    }
    .our-values-all-cards {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      @media (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
      }
      margin-top: 0px;
      .our-values-card {
        width: 270px;
        height: 325px;
        padding:28px;
        .svg-icon{
          svg{
          width: 75px;
          height: 90px;
          }
        }
        h3 {
          font-size: 22px;
          line-height: 32px;
          margin-top: 10px;
        }
        p {
          font-size: 14px;
          line-height: 16px;
          margin-top: 10px;
        }
      }
    }
  }
}
