.private-events-section {
  background: #dcf1da;
  width: 100%;
  .left-side-vector-image {
    position: relative;
    img {
      top: 40px;
      position: absolute;
      object-fit: cover;
      width: auto;
      left: 0px;
    }
  }
  .right-side-vector-image {
    position: relative;
    img {
      top: 380px;
      position: absolute;
      object-fit: cover;
      width: auto;
      right: 0px;
    }
  }
  .private-events-content {
    padding: 80px 150px 0px 150px;
    .text-divider {
      display: flex;
      align-items: center;
      gap: 40px;
      h2,
      h6 {
        margin: 0;
      }
      h2 {
        font-family: Frisbee;
        font-weight: 700;
        font-style: Bold;
        font-size: 55px;
        line-height: 45px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #40a839;
      }
      h6 {
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: -3%;
        text-transform: uppercase;
        color: #40a839;
      }
      .divider {
        width: 3px;
        height: 39px;
        background-color: #40a839;
      }
    }
    p {
      font-family: Brother 1816;
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      margin: 0;
      line-height: 15px;
      letter-spacing: 0%;
      color: #002f6c;
      margin-top: 15px;
    }
    .all-private-events-cards {
      display: flex;
      gap: 50px;
      margin-top: 50px;
      .private-events-card {
        background: #339a2d0d;
        width: 100%;
        height: 181px;
        border-radius: 18px;
        padding: 50px;
        cursor: pointer;
        h6 {
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 18px;
          line-height: 20px;
          letter-spacing: 0%;
          text-transform: uppercase;
          color: #40a839;
          margin: 0;
          margin-bottom: 10px;
        }
        li {
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0%;
          color: #002f6c;
          margin-left: 25px;
        }
      }
    }
  }
  .private-events-image-section {
    padding: 0px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    .private-events-bowl-image {
      width: 100%;
      height: 578px;
      overflow: hidden;
      z-index: 2000;
      margin-top: -25px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 1400px) {
  .private-events-section {
    .private-events-content {
      padding: 80px 120px 0 120px;
    }
    .private-events-image-section {
      padding: 0 80px;
    }
  }
}

@media (max-width: 1280px) {
  .private-events-section {
    .private-events-content {
      padding: 70px 40px 0 40px;

      .text-divider h2 {
        font-size: 45px;
      }
    }

    .private-events-image-section {
      padding: 0 70px;

      .private-events-bowl-image {
        height: auto  ;
      }
    }
  }
}

@media (max-width: 1024px) {
  .private-events-section {
    .left-side-vector-image img {
      top: 180px;
      width: 100px;
      height: auto;
    }

    .right-side-vector-image img {
      top: 80px;
      width: 200px;
      height: auto;
    }

    .private-events-content {
      padding: 60px 20px 0 20px;

      .text-divider h2 {
        font-size: 40px;
      }

      .all-private-events-cards {
        gap: 30px;

        .private-events-card {
          padding: 40px;
        }
      }
    }

    .private-events-image-section {
      padding: 0 20px;
    }
  }
}

@media (max-width: 912px) {
  .private-events-section {
    .left-side-vector-image img {
      width: 100px;
    }

    .right-side-vector-image img {
      width: 110px;
    }

    .private-events-content {

      .text-divider h2 {
        font-size: 32px;
      }

      .text-divider h6 {
        font-size: 16px;
      }
    }

    .private-events-image-section {
      .private-events-bowl-image {
        height: auto;
      }
    }
  }
}

@media (max-width: 820px) {
  .private-events-section {
    .left-side-vector-image img {
      top: 180px;
      width: 90px;
    }

    .right-side-vector-image img {
      top: 310px;
      width: 120px;
    }

    .private-events-content {
      padding: 40px 20px 0 20px;

      p {
        font-size: 13px;
      }
    }

    .private-events-image-section {
      padding: 0 20px;

      .private-events-bowl-image {
        height: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .private-events-section {
    .left-side-vector-image {
      img {
        top: 360px;
        width: 70px;
        height: auto;
        left: 0px;
      }
    }
    .right-side-vector-image {
      img {
        top: 340px;
        width: 100px;
        height: auto;
        right: 0px;
      }
    }
    .private-events-content {
      padding: 40px 20px 0px 20px;
      .text-divider {
        flex-direction: column;
        justify-content: center;
        gap: 0px;
        h2 {
          font-size: 24px;
          line-height: 100%;
        }
        h6 {
          font-size: 14px;
          margin-top: 6px;
        }
        .divider {
          display: none;
        }
      }
      p {
        margin-top: 15px;
        text-align: center;
      }
      .all-private-events-cards {
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
        .private-events-card {
          height: auto;
          padding: 25px;
          h6 {
            font-size: 16px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .private-events-image-section {
      padding: 0px 15px;
      .private-events-bowl-image {
        width: 100%;
        height: auto;
        margin-top: 0px;
        margin: 40px 0px;
      }
    }
  }
}
