.rightcontent-section {
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  h2,
  h3,
  h4,
  p {
    margin: 0;
    padding: 0;
  }

  /* ---------- Recent Post Section ---------- */
  .recent-post-section {
    h3 {
      font-family: "Brother 1816";
      font-weight: 400;
      font-style: normal;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0;
      color: #002f6c;
    }

    .recent-post-card {
      display: flex;
      flex-direction: column;
      background-color: #fff4e5cc;
      border-radius: 10px;
      overflow: hidden;
      margin: 40px 0px;

      .recent-post-image {
        width: 360px;
        height: 180px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .recent-post-info {
        padding: 15px;

        h4 {
          font-family: "Brother 1816";
          font-weight: 400;
          font-style: normal;
          font-size: 16px;
          line-height: 1.4;
          letter-spacing: 0.5px;
          color: #002f6c;
          margin-bottom: 10px;
        }

        p {
          font-size: 14px;
          color: #2c2c2c;
          line-height: 1.6;
          margin-bottom: 12px;
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          background-color: #002f6c;
          color: #fff;
          border: none;
          border-radius: 18px;
          padding: 12px 40px;
          font-family: "Brother 1816";
          font-weight: 400;
          font-style: normal;
          font-size: 12px;
          line-height: 100%;
          text-transform: uppercase;
          cursor: pointer;
          transition: 0.3s ease;

          &:hover {
            background-color: #001d46;
          }
        }
      }
    }
  }

  /* ---------- Categories Section ---------- */
  .categories-section {
    align-self: flex-start;

    h3 {
      font-family: "Brother 1816";
      font-weight: 400;
      font-style: normal;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0;
      color: #002f6c;
      display: inline-block;
      padding-bottom: 5px;
      margin-bottom: 30px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-left: 10px;

      li {
        font-family: "Brother 1816";
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: #004080;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          color: #002f6c;
          transform: translateX(5px);
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .rightcontent-section {
    max-width: 320px;

    .recent-post-section {
      h3 {
        font-size: 22px;
      }

      .recent-post-card {
        .recent-post-image {
          width: 100%;
          height: auto;
        }
      }
    }

    .categories-section {
      h3 {
        font-size: 22px;
      }

      ul li {
        font-size: 17px;
      }
    }
  }
}


@media (max-width: 768px) {
  .rightcontent-section {
    max-width: 50%;
    gap: 30px;

    .recent-post-section {
      h3 {
        font-size: 18px;
      }

      .recent-post-card {
        margin: 25px 0;

        .recent-post-info {
          h4 {
            font-size: 14px;
          }

          p {
            font-size: 13px;
            line-height: 1.5;
          }

          button {
            width: 50%;
            padding: 10px 0;
            border-radius: 999px;
          }
        }
      }
    }

    .categories-section {
      h3 {
        font-size: 18px;
        margin-bottom: 20px;
      }

      ul {
        gap: 14px;

        li {
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .rightcontent-section {
    max-width: 100%;
    .recent-post-section {
      h3 {
        font-size: 24px;
      }

      .recent-post-card {
        margin: 20px 0;

        .recent-post-info {
          h4 {
            font-size: 16px;
          }

          p {
            font-size: 14px;
            line-height: 1.5;
          }
        }
      }
    }

    .categories-section {
      h3 {
        font-size: 16px;
      }

      ul {
        gap: 10px;

        li {
          font-size: 14px;
        }
      }
    }
  }
}
