.scrolling-icons-section {
  width: 100%;
  background: #f8e7ef;
  padding: 60px 0px 60px 0px;
  .svg-company-logo-cards {
    width: 100%;
    .scroll-container {
      display: flex;
      overflow: hidden;
    }
    .scroll-content {
      display: flex;
      animation: scroll-left 40s linear infinite;
      gap: 40px;
    }
    .svg-card {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .main-image-box {
        width: 120px;
        height: 62px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
@media (max-width:1024px) {
.scrolling-icons-section {
  padding: 40px 0px;
}
}
@media (max-width: 768px) {
  .scrolling-icons-section {
    padding: 40px 0px;
    .svg-company-logo-cards {
      .scroll-content {
        gap: 25px;
      }
    }
  }
}
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media (min-width: 320px) and (max-width: 435px) {
  .scrolling-icons-section,
  .scrolling-icons-section * {
    max-width: none !important;
  }
}
