.search-location-section {
  width: 100%;
  padding: 0px 100px 100px 100px;
  .postal-code {
    width: 100%;
    background: #e6e6e6;
    height: 68px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 18px;
    .icon-input {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 50%;
      input {
        outline: none;
        background-color: transparent;
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #2c2c2cb2;
        width: 100%;
        border: none;
      }
      input ::placeholder {
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #2c2c2cb2;
      }
    }
    .search-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #002f6c;
      width: 68px;
      height: 68px;
      border-radius: 18px;
      cursor: pointer;
    }
  }
  .all-hotel-cards {
    margin-top: 50px;
    .hotel-card {
      width: 100%;
      cursor: pointer;
      margin-bottom: 80px;
      .hotel-card-left-right {
        display: flex;
        align-items: center;
        gap: 50px;
        .hotel-card-left {
          .hotel-image {
            width: 595px;
            height: 455px;
            border-radius: 18px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 18px;
            }
          }
        }
        .hotel-card-right {
          h6,
          h2,
          h3,
          h5 {
            margin: 0;
            color: #002f6c;
          }
          h6 {
            font-family: Brother 1816;
            font-weight: 400;
            font-style: Regular;
            font-size: 25px;
            line-height: 25px;
            letter-spacing: 0%;
            text-transform: uppercase;
          }
          h2 {
            font-family: Frisbee;
            font-weight: 700;
            font-style: Bold;
            font-size: 55px;
            line-height: 45px;
            letter-spacing: 0%;
            text-transform: uppercase;
            margin-top: 10px;
          }
          .hotel-location-number {
            margin-top: 35px;
            margin-bottom: 35px;
            .hotel-location {
              display: flex;
              align-items: center;
              gap: 25px;
              cursor: pointer;
              margin-top: 16px;
              h4 {
                font-family: Brother 1816;
                font-weight: 400;
                font-style: Regular;
                font-size: 18px;
                letter-spacing: 0%;
                text-transform: uppercase;
                text-decoration: underline;
                text-decoration-style: solid;
                text-decoration-thickness: 10%;
                text-decoration-skip-ink: auto;
                text-underline-offset: 4px;
                color: #002f6c;
                margin: 0;
              }
            }
          }
          h5 {
            font-family: Brother 1816;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0%;
            text-transform: uppercase;
            text-decoration: underline;
            text-decoration-style: solid;
            text-underline-offset: 4px;
            text-decoration-thickness: 10%;
            text-decoration-skip-ink: auto;
            margin-top: 25px;
          }
          h3 {
            font-family: Brother 1816;
            font-weight: 400;
            font-style: Regular;
            font-size: 22px;
            line-height: 21px;
            letter-spacing: 0%;
            text-transform: uppercase;
            text-decoration: underline;
            text-decoration-style: solid;
            text-underline-offset: 4px;
            text-decoration-thickness: 10%;
            text-decoration-skip-ink: auto;
            margin-top: 25px;
          }
        }
      }
    }
  }
  .location-button {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      font-family: Brother 1816;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0%;
      text-transform: uppercase;
      text-decoration: underline;
      text-decoration-style: solid;
      text-decoration-thickness: 10%;
      text-decoration-skip-ink: auto;
      text-underline-offset: 4px;
      color: #002f6c;
      border: none;
      cursor: pointer;
      background-color: transparent;
    }
  }
}
@media (max-width:1280px) {
.search-location-section {
  padding: 0px 40px 100px 40px;
} 
}
@media (max-width:1180px) {
@media (max-width:1280px) {
.search-location-section {
  padding: 0px 20px 100px 20px;
  .all-hotel-cards {
    .hotel-card {
      margin-bottom: 60px;
      .hotel-card-left-right {
        gap: 30px;
        .hotel-card-left {
          .hotel-image {
            width: 395px;
            height: 285px;
          }
        }
        .hotel-card-right {
          h6 {
            font-size: 20px;
            line-height: 25px;
          }
          h2 {
            font-size: 36px;
          }
          .hotel-location-number {
            margin-top: 15px;
            margin-bottom: 15px;
            .hotel-location {
              gap: 15px;
              margin-top: 10px;
              h4 {
                font-size: 16px;
              }
            }
          }
          h5 {
            font-size: 16px;
            margin-top: 15px;
          }
          h3 {
            font-size: 16px;
            margin-top: 15px;
          }
        }
      }
    }
  }
} 
}
}
@media (max-width: 768px) {
  .search-location-section {
    padding: 0px 20px 60px 20px;
    .postal-code {
      height: 48px;
      padding-left: 16px;
      .icon-input {
        gap: 6px;
        width: 85%;
        svg {
          width: 24px;
          height: 24px;
        }
        input {
          font-size: 12px;
          line-height: 100%;
        }
        input ::placeholder {
          font-size: 12px;
          line-height: 100%;
        }
      }
      .search-icon {
        width: 48px;
        border-radius: 10px;
        height: 48px;
        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
    .all-hotel-cards {
      margin-top: 30px;
      .hotel-card {
        margin-bottom: 40px;
        .hotel-card-left-right {
          gap: 15px;
          @media (max-width: 720px) {
            flex-direction: column;
            gap: 20px;
          }
          .hotel-card-left {
            .hotel-image {
              width: 100%;
              height: 273px;
            }
          }
          .hotel-card-right {
            h6 {
              font-size: 16px;
              line-height: 25px;
            }
            h2 {
              font-size: 24px;
              margin-top: 0px;
            }
            .hotel-location-number {
              margin-top: 10px;
              margin-bottom: 10px;
              .hotel-location {
                gap: 20px;
                margin-top: 12px;
                h4 {
                  font-size: 16px;
                }
              }
            }
            h5 {
              font-size: 16px;
              margin-top: 20px;
            }
            h3 {
              font-size: 16px;
              margin-top: 20px;
            }
          }
        }
      }
    }
    .location-button {
      button {
        font-size: 16px;
        margin-top: 10px;
      }
    }
  }
}
