.sushi-style-section {
  width: 100%;
  background: #d8eff0;
  padding-top: 40px;
  padding-bottom: 80px;
  .right-side-vector-image {
    position: relative;
    img {
      position: absolute;
      top: 70px;
      right: 0px;
      width: auto;
      object-fit: cover;
    }
  }
  .sushi-content-section,
  .sushi-content2-section {
    padding: 0px 150px;
    .sushi-details {
      width: 100%;
      background: #002f6c0d;
      background-blend-mode: multiply;
      border-radius: 18px;
      padding: 60px 50px;
      .sushi-text-divider {
        display: flex;
        align-items: center;
        gap: 40px;
        h2 {
          margin: 0;
          font-family: Frisbee;
          font-weight: 700;
          font-style: Bold;
          font-size: 55px;
          line-height: 45px;
          letter-spacing: 0%;
          text-transform: uppercase;
          color: #002f6c;
        }
        .divider {
          background-color: #002f6c;
          width: 3px;
          height: 39px;
        }
        .minimum-price {
          h6 {
            font-family: Brother 1816;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: -3%;
            text-transform: uppercase;
            color: #002f6c;
            margin: 0;
          }
        }
      }
      p {
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 15px;
        letter-spacing: 0%;
        color: #002f6c;
      }
    }
  }
  .sushi-image-section {
    padding: 0px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    .sushi-bowl-image {
      width: 100%;
      height: auto;
      overflow: hidden;
      z-index: 2000;
      margin-top: -70px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .sushi-content2-section {
    margin-top: -65px;
  }
  .sushi-items-section {
    display: flex;
    width: 100%;
    gap: 30px;
    margin-top: 20px;
    .sushi-items-column {
      width: 100%;
      padding: 0px;
      li {
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        cursor: pointer;
        line-height: 30px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #002f6c;
        list-style: none;
      }
    }
  }
  .sharing-image-section {
    width: 100%;
    .sharing-bowl-image {
      width: 100%;
      height: auto;
      overflow: hidden;
      z-index: 2000;
      margin-top: -80px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .order-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    button {
      width: 333px;
      height: 43px;
      border-radius: 18px;
      background: #002f6c;
      font-family: Brother 1816;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      letter-spacing: 0%;
      text-transform: uppercase;
      color: #ffffff;
      border: none;
      cursor: pointer;
    }
  }
}

@media (max-width: 1400px) {
  .sushi-style-section {
    .sushi-content-section,
    .sushi-content2-section {
      padding: 0 120px;
    }
  }
}

@media (max-width: 1280px) {
  .sushi-style-section {
    .sushi-content-section,
    .sushi-content2-section {
      padding: 0 40px;

      .sushi-details {
        padding: 50px 40px;

        .sushi-text-divider {
          h2 {
            font-size: 45px;
          }
        }
      }
    }

    .sushi-image-section {
      padding: 0 60px;
    }
  }
}

@media (max-width: 1024px) {
  .sushi-style-section {
    .right-side-vector-image {
      img {
        top: 120px;
        width: 180px;
      }
    }

    .sushi-content-section,
    .sushi-content2-section {
      padding: 0 20px;

      .sushi-details {
        padding: 40px 30px;

        .sushi-text-divider {
          gap: 25px;

          h2 {
            font-size: 38px;
          }
        }
      }
    }

    .sushi-image-section {
      padding: 0 40px;

      .sushi-bowl-image {
        margin-top: -40px;
      }
    }

    .sushi-items-section {
      gap: 20px;
    }

    .sharing-image-section {
      .sharing-bowl-image {
        margin-top: -50px;
      }
    }
  }
}

@media (max-width: 820px) {
  .sushi-style-section {
    .right-side-vector-image {
      img {
        top: 150px;
        width: 250px;
        height: auto;
      }
    }

    .sushi-content-section,
    .sushi-content2-section {
      .sushi-details {
        padding: 30px 20px;
      }
    }

    .sushi-image-section {
      .sushi-bowl-image {
        margin-top: -20px;
        margin-bottom: 40px;
      }
    }

    .sharing-image-section {
      .sharing-bowl-image {
        margin-top: -20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .sushi-style-section {
    padding-top: 20px;
    padding-bottom: 60px;
    .right-side-vector-image {
      img {
        top: 160px;
        right: 0px;
        width: 160px;
        height: auto;
      }
    }
    .sushi-content-section,
    .sushi-content2-section {
      padding: 0px 20px;
      .sushi-details {
        padding: 20px;
        .sushi-text-divider {
          flex-direction: column;
          gap: 0px;
          align-items: start;
          h2 {
            font-size: 22px;
            line-height: 100%;
          }
          .divider {
            display: none;
          }
          .minimum-price {
            h6 {
              font-size: 16px;
              line-height: 21px;
            }
          }
        }
        p {
          line-height: 100%;
        }
      }
    }
    .sushi-image-section {
      padding: 0px;
      .sushi-bowl-image {
        margin-top: 0px;
      }
    }
    .sushi-content2-section {
      margin-top: 0px;
    }
    .sushi-items-section {
      flex-direction: column;
      gap: 0px;
      margin-top: 0px;
      .sushi-items-column {
        padding: 0px;
        margin: 0px;
      }
    }
    .sharing-image-section {
      .sharing-bowl-image {
        margin-top: 30px;
      }
    }
    .order-button {
      margin-top: 40px;
      button {
        width: 266px;
        height: 40px;
        font-size: 14px;
      }
    }
  }
}
