.the-visionary-section {
  width: 100%;
  background-image: url("../public/images/thevisionarybg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  .visionary-left-right-part {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 80px 150px;
    .visionary-left-part {
      .visionary-left-image {
        width: 769px;
        height: 593px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .visionary-right-part {
      h2,
      p {
        margin: 0;
      }
      margin-left: -80px;
      h2 {
        font-family: Frisbee;
        font-weight: 700;
        font-style: Bold;
        font-size: 55px;
        line-height: 55px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #f16f26;
      }
      p {
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0%;
        color: #2c2c2c;
        width: 90%;
        margin-top: 20px;
      }
    }
  }
}
@media (max-width:1380px) {
.the-visionary-section {
  .visionary-left-right-part {
    padding: 80px 40px;
  }
}
}
@media (max-width:1180px) {
.the-visionary-section {
  .visionary-left-right-part {
    padding: 60px 20px;
    .visionary-left-part {
      .visionary-left-image {
        width: 669px;
        height: 493px;
      }
    }
    .visionary-right-part {
      margin-left: -40px;
      h2 {
        font-size: 45px;
      }
      p {
        width: 100%;
      }
    }
  }
}
}
@media (max-width:938px) {
.the-visionary-section {
  .visionary-left-right-part {
    padding: 60px 20px;
    .visionary-left-part {
      .visionary-left-image {
        width: 469px;
        height: 293px;
      }
    }
    .visionary-right-part {
      margin-left: -40px;
      h2 {
        font-size: 38px;
      }
    }
  }
}
}
@media (max-width:768px) {
.the-visionary-section {
  background-position: right bottom;
  .visionary-left-right-part {
    flex-direction: column;
    gap: 20px;
    padding:  20px;
    padding-bottom: 150px;
    .visionary-left-part {
      order: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      .visionary-left-image {
        width: 330px;
        height: 254px;
      }
    }
    .visionary-right-part {
      order: 1;
      margin-left: 0px;
      h2 {
        font-size: 24px;
        line-height: 55px;
      }
      p {
        font-size: 12px;
        line-height: 16px;
        width: 100%;
        margin-top: 0px;
      }
    }
  }
}
}