.TrendingFlavors-section {
  width: 100%;
  padding: 50px 100px;
  background-color: #fff;

  .TrendingFlavors-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 100px;

    .TrendingFlavors-left {
      h2,
      h4,
      p {
        padding: 0;
        margin: 0;
      }

      h2 {
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 24px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        color: #002f6c;
      }

      .TrendingFlavors-list {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .TrendingFlavors-card {
          display: flex;
          max-width: 800px;
          gap: 20px;
          background-color: #d8eff080;
          border-radius: 12px;
          overflow: hidden;

          .TrendingFlavors-card-image {
            width: 230px;
            height: 160px;
          }

          .TrendingFlavors-card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            gap: 10px;

            h4 {
              font-family: Brother 1816;
              font-weight: 400;
              font-style: Regular;
              font-size: 20px;
              letter-spacing: 0.5px;
              color: #002f6c;
            }

            p {
              font-family: Brother 1816;
              font-weight: 400;
              font-style: Regular;
              font-size: 16px;
              color: #2c2c2c;
            }
          }
        }
      }
    }

    .TrendingFlavors-right {
      align-self: flex-start;
      h2 {
        padding: 0;
        margin: 0;
      }

      h2 {
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 24px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        color: #002f6c;
      }

      .TrendingFlavors-categories {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;

        li {
          font-size: 18px;
          color: #004080;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .TrendingFlavors-section {
    padding: 50px;

    .TrendingFlavors-container {
      gap: 50px;

      .TrendingFlavors-left {
        .TrendingFlavors-card {
          gap: 10px;
          .TrendingFlavors-card-image {
            img {
              height: 200px;
            }
          }
          .TrendingFlavors-card-content {
            padding: 10px;
          }
        }
      }

      .TrendingFlavors-right {
        .TrendingFlavors-categories {
          li {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 920px) {
  .TrendingFlavors-section {
    .TrendingFlavors-container {
      .TrendingFlavors-left {
        .TrendingFlavors-list {
          .TrendingFlavors-card {
            gap: 0px;
            .TrendingFlavors-card-image {
              img {
                width: 200px;
                height: 200px;
              }
            }
            .TrendingFlavors-card-content {
              h4 {
                font-size: 18px;
              }
              p {
                font-size: 14px;
              }
            }
          }
        }
      }

      .TrendingFlavors-right {
        .TrendingFlavors-categories {
          gap: 10px;
          li {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .TrendingFlavors-section {
    padding: 20px;

    .TrendingFlavors-container {
      flex-direction: column;
      gap: 30px;

      .TrendingFlavors-left {
        width: 100%;

        .TrendingFlavors-list {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .TrendingFlavors-card {
            gap: 0;
            .TrendingFlavors-card-image {
                width: 120px;
                height: auto;
              img {
                width: 100%;
                height: 100%;
              }
            }

            .TrendingFlavors-card-content {
              width: 100%;
              padding: 10px;
              display: flex;
              flex-direction: column;
              gap: 5px;

              h4 {
                font-size: 16px;
                line-height: 1.3;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              p {
                font-size: 12px;
                line-height: 1.4;
              }
            }
          }
        }
      }

      .TrendingFlavors-right {
        width: 100%;

        .TrendingFlavors-categories {
          gap: 20px;
          margin-top: 30px;
          margin-left: 10px;

          li {
            font-size: 16px;
          }
        }
      }
    }
  }
}
