.we-offer-section {
  width: 100%;
  background-color: #00a7a21a;
  padding: 80px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .we-offer-left-right-part {
    display: flex;
    gap: 80px;
    width: 100%;
    .we-offer-left-part,
    .we-offer-right-part {
     width: 100%;
      h2 {
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #00aca7;
      }
      li,p{
        font-family: Brother 1816;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0%;
        color: #2c2c2c;
        margin-left: 25px;
      }
      .we-offer-image {
        width: 100%;
        height: 410px;
        border-radius: 18px;
        overflow: hidden;
        margin-top: 40px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
      }
    }
    .we-offer-right-part{
        p{
          margin-left: 0px;
          width: 88%;
        }
         .we-offer-image {
            margin-top: 0px;
         }
    }
  }
}
@media (max-width:1380px) {
.we-offer-section {
  padding: 80px 40px;
} 
}
@media (max-width:1024px) {
.we-offer-section {
  padding: 60px 40px;
  .we-offer-left-right-part {
    gap: 40px;
    .we-offer-left-part,
    .we-offer-right-part {
      h2 {
        font-size: 26px;
      }
      .we-offer-image {
        height: 310px;
      }
    }
    .we-offer-right-part{
        p{
          margin-left: 0px;
          width: 100%;
        }
         .we-offer-image {
            margin-top: 0px;
         }
    }
  }
} 
}
@media (max-width:768px) {
.we-offer-section {
  padding:  20px;
  .we-offer-left-right-part {
    gap: 30px;
    flex-direction: column;
    .we-offer-left-part,
    .we-offer-right-part {
      h2 {
        font-size: 22px;
      }
      .we-offer-image {
        width: 358px;
        height: 276px;
        margin-top: 20px;
      }
    }
    .we-offer-right-part{
        p{
          width: 100%;
        }
         .we-offer-image {
            margin-top: 0px;
         }
    }
  }
}
}