.why-franchise-section {
  width: 100%;
  .why-franchise-image {
    width: 100%;
    height: 638px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .why-franchise-cards-section {
    background-image: url("../public/images/whyfranchisebg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background: #f2d4e6;
    padding: 80px 150px;
    h2 {
      font-family: Frisbee;
      font-weight: 700;
      font-style: Bold;
      font-size: 55px;
      line-height: 60px;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;
      color: #9a3488;
      margin: 0;
    }
    .why-franchise-all-cards {
      display: grid;
      grid-template-columns: repeat(4, 2fr);
      gap: 55px;
      place-items: center;
      justify-self: center;
      margin-top: 50px;
      .why-franchise-card {
        width: 244px;
        height: 246px;
        gap: 15px;
        border-radius: 18px;
        padding: 30px;
        background: #fbe5ef;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        h3,
        p {
          margin: 0;
        }
        h3 {
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 18px;
          line-height: 20px;
          letter-spacing: 0%;
          text-align: center;
          text-transform: uppercase;
          color: #922b7b;
        }
        p {
          font-family: Brother 1816;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0%;
          text-align: center;
          color: #2c2c2c;
        }
      }
    }
  }
}
@media (max-width: 1280px) {
  .why-franchise-section {
    .why-franchise-image {
      height: 538px;
    }
    .why-franchise-cards-section {
      padding: 80px 40px;
      .why-franchise-all-cards {
        gap: 30px;
      }
    }
  }
}
@media (max-width: 1180px) {
  .why-franchise-section {
    .why-franchise-image {
      height: 438px;
    }
    .why-franchise-cards-section {
      padding: 60px 20px;
      h2 {
        font-size: 45px;
      }
      .why-franchise-all-cards {
        grid-template-columns: repeat(2, 2fr);
        gap: 20px;
        margin-top: 30px;
      }
    }
  }
}
@media (max-width: 938px) {
  .why-franchise-section {
    .why-franchise-image {
      height: 338px;
    }
    .why-franchise-cards-section {
      padding: 60px 20px;
      h2 {
        font-size: 38px;
      }
    }
  }
}
@media (max-width: 768px) {
  .why-franchise-section {
    .why-franchise-image {
      height: 260px;
      img {
        object-fit: cover;
      }
    }
    .why-franchise-cards-section {
      background-image: url("../public/images/whyfranchisemobile.png");
      padding: 40px 20px;
      h2 {
        font-size: 24px;
        line-height: 32px;
      }
      .why-franchise-all-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-top: 50px;
        @media (max-width: 576px) {
          grid-template-columns: repeat(1, 1fr);
        }
        .why-franchise-card {
          h3 {
            font-size: 16px;
          }
        }
      }
    }
  }
}
